<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A responsive web application for tracking project bugs">
  <title>::BUG-TRACKER</title>
   
   {% load staticfiles %}
  <!-- Load bootstrap core CSS -->
  <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Load select2 css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  


</head>
<body>

 <!-- include navigation -->
 {% include 'navigation.html' %}



 {% block content %} {% endblock %}



</body>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.1/classic/ckeditor.js"></script>

<!-- Select2 Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
	// Add editing feautures to text areas using ckeditor
	  ClassicEditor
        .create( document.querySelector( '#bug-editor' ) )
        .catch( error => {
            console.error( error );
        } );

    // Add select2 to enhance project selection
    $('#project-filter').select2();
    
    $(".alert-success").slideUp(1500);
    

    $(".app-filter").on("change", function(e){
      e.preventDefault();
      
      // Get current selected project
      var proj_id = $(this).val();
      var token = $("#token").val();
       
      // validate if project is selected
      if(proj_id != ''){
          
          $.ajax({

            type : "post",
            url  : "api",
            data : {}
          });

      }else{
        console.log("please choose a project");
      }

    });
</script>
</html>