{% extends  'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-1"></div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-10">
          
          <br>
          <h1 class="text-center">ALL BUGS</h1><br>
           

        </div>
        <!-- /.col-lg-12 -->

        <div class="col-lg-1"></div>

      </div>

         
          <div id="bugs-list">
            
          <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
            <div class="col-lg-12">
            <select class="form-control" v-model="selectedproject" v-on:change="onChangeProject">
              <option>Filter By Project</option>
              <option v-for="project in projects" v-bind:value=[[project.id]]>[[project.project_name ]]</option>
            </select>
          </div>
          </div>
          
           <div class="row">
            <div v-for="bug in bugs" class="col-lg-4">
               
               <div class="card jumbotron">
                <div class="card-body">
                  <h4 class="card-title">Project name: [[ bug.project.project_name ]]</h4>
                  <h4 class="card-title">Bug Description:</h4>
                  [[ bug.description ]] 
                </div>
              </div>

            </div>
          </div>

           <div class="col-lg-12">
             <div v-if="bugs.length==0" class="alert alert-warning text-center" role="alert">
              No bug has been created.
            </div>
          </div>


          </div>
   

    </div>
    <!-- /.container -->





{% endblock %}