{% extends  'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-1"></div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-10">
          
          <br>
          <h1 class="text-center">ALL BUGS</h1><br>

          <select class="form-control" id="project-filter">
            <option value="">Filter By Project</option>
            {% if projects %}

                {% for project in projects %}
                <option value="{{ project.id }}">{{ project.project_name }}</option>
                {% endfor %}

              {% endif %}
          </select>

        </div>
        <!-- /.col-lg-12 -->

        <div class="col-lg-1"></div>

      </div>

         
          <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
           
           {% if bugs %}
           {% for bug in bugs %}
            <div class="col-lg-4">
               
               <div class="card jumbotron">
                <div class="card-body">
                  <h4 class="card-title">Project name: {{ bug.project.project_name }}</h4>
                  <h4 class="card-title">Bug Description:</h4>
                  {{ bug.description|safe }}
                </div>
              </div>

            </div>
            {% endfor %}
            {% else %}
            <div class="col-lg-12">
               <div class="alert alert-warning text-center" role="alert">
                 <h4>There are not bugs at the moment!</h4>
              </div>
            </div>

            {% endif%}

 

          </div>
   

    </div>
    <!-- /.container -->





{% endblock %}